#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.card{
  margin: 10px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
}

.visited{
  background-color: brown;
  color: white;
}